*{
    margin: 0;
    padding: 0;
    border:0;
}

.bunner{
    width: 100%;
    height: 800px;
    background-color: aquamarine;
    background-image: url(1CF7866.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.menu{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menul{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;  
    text-decoration: none;
}

.menul a{margin-right: 10px;
    text-decoration: none;
    color: black;
}

.menur{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px; 
}

.menur a{
    text-decoration: none;
    color: black;
}

.bloco{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxitem{
    width: 230px;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
}

.productinfo{
    width: 230px;
    height: 60PX;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 9px;
}

.button{
    color: black;
    position: absolute;
    right: 0;
    bottom: 10%;

    
}

.buttonreorder{
    display: none;
}

@media (max-width: 480px){
    .bunner{
        width: 100%;
        height: 400px;
        background-position: top;
    }
    .container{
        width: 90%;
    }
    .menu{
        width: 100%;
    }
    .bloco{
        flex-direction: column;
        align-items: center;
    }

    .buttonreorder{
        display: block;
    }

    .menul{
        display: none;
    }

    .menur{
        display: none;
    }
}


